:root {
  --hex-width: 20vw;
  --hex-height: calc(var(--hex-width) * 0.866); /* (√3/2) */
  --hex-vertical-gap-ratio: 0.1;
  --hex-horizontal-gap-ratio: 0.075;
}

* {
  font-family: math;
  margin: 0;
}

.app {
  padding: 2em;
  background: #f0f0f0;
  min-height: 100vh;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }
}
